In [27]:
pwd

'C:\\Users\\omaro'

In [28]:
import pandas as pd
# used for manipulating directory paths
import os

# Scientific and vector computation for python
import numpy as np

import math
# Plotting library
from matplotlib import pyplot
from mpl_toolkits.mplot3d import Axes3D  # needed to plot 3-D surfaces
# tells matplotlib to embed plots within the notebook
%matplotlib inline
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import KFold

In [29]:
# Read comma separated data
data = pd.read_csv('C:/Users/omaro/Documents/Macine_learning/house_prices_data_training_data.csv')
# let's inspect the first 5 rows
#data.head()
X=data.drop(['price'], axis=1)
X=X.iloc[0:17999,:]
y=data.loc[:,"price" ]
y=y.iloc[0:17999]

m=y.size # number of training examples

In [30]:
X.dtypes
#Treat the year part of the date variable as an integer
X['date']=X['date'].str.slice(0,4).astype(int)
X.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7.129301e+09,2014,3.0,1.00,1180.0,5650.0,1.0,0.0,0.0,3.0,7.0,1180.0,0.0,1955.0,0.0,98178.0,47.5112,-122.257,1340.0,5650.0
1,6.414100e+09,2014,3.0,2.25,2570.0,7242.0,2.0,0.0,0.0,3.0,7.0,2170.0,400.0,1951.0,1991.0,98125.0,47.7210,-122.319,1690.0,7639.0
2,5.631500e+09,2015,2.0,1.00,770.0,10000.0,1.0,0.0,0.0,3.0,6.0,770.0,0.0,1933.0,0.0,98028.0,47.7379,-122.233,2720.0,8062.0
3,2.487201e+09,2014,4.0,3.00,1960.0,5000.0,1.0,0.0,0.0,5.0,7.0,1050.0,910.0,1965.0,0.0,98136.0,47.5208,-122.393,1360.0,5000.0
4,1.954401e+09,2015,3.0,2.00,1680.0,8080.0,1.0,0.0,0.0,3.0,8.0,1680.0,0.0,1987.0,0.0,98074.0,47.6168,-122.045,1800.0,7503.0

In [31]:
#train test split
x, X_test, ya, y_test = train_test_split(X,y,test_size=0.2,train_size=0.8,random_state=0)
X_train, X_cv, y_train, y_cv = train_test_split(x,ya,test_size = 0.25,train_size =0.75,random_state=0)
X_train.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
8896,2.174503e+09,2014,3.0,1.50,1380.0,4500.0,1.0,0.0,0.0,5.0,7.0,1380.0,0.0,1960.0,0.0,98040.0,47.5866,-122.250,1590.0,9000.0
10984,3.797700e+09,2014,3.0,1.75,1470.0,10390.0,1.0,0.0,0.0,3.0,7.0,1470.0,0.0,1989.0,0.0,98031.0,47.4192,-122.201,1770.0,7507.0
12773,6.979900e+09,2015,4.0,2.50,2630.0,28298.0,2.0,0.0,0.0,3.0,8.0,2630.0,0.0,1996.0,0.0,98053.0,47.6314,-121.968,2840.0,26071.0
6008,1.829700e+09,2014,3.0,1.00,1450.0,9586.0,2.0,0.0,0.0,3.0,7.0,1450.0,0.0,1950.0,0.0,98155.0,47.7443,-122.326,1500.0,8592.0
1394,5.631500e+09,2014,4.0,2.50,2403.0,6172.0,2.0,0.0,0.0,3.0,9.0,2403.0,0.0,1999.0,0.0,98028.0,47.7361,-122.234,2380.0,6075.0

In [32]:
def  featureNormalize(X):
    """
    Normalizes the features in X. returns a normalized version of X where
    the mean value of each feature is 0 and the standard deviation
    is 1. This is often a good preprocessing step to do when working with
    learning algorithms.
    
    Parameters
    ----------
    X : array_like
        The dataset of shape (m x n).
    
    Returns
    -------
    X_norm : array_like
        The normalized dataset of shape (m x n).
    
    Instructions
    ------------
    First, for each feature dimension, compute the mean of the feature
    and subtract it from the dataset, storing the mean value in mu. 
    Next, compute the  standard deviation of each feature and divide
    each feature by it's standard deviation, storing the standard deviation 
    in sigma. 
    
    Note that X is a matrix where each column is a feature and each row is
    an example. You needto perform the normalization separately for each feature. 
    
    Hint
    ----
    You might find the 'np.mean' and 'np.std' functions useful.
    """
    # You need to set these values correctly
    X_norm = X.copy()
    #mu = np.zeros(X.shape[1])
    #sigma = np.zeros(X.shape[1])

    # =========================== YOUR CODE HERE =====================
    means= X.mean(axis=0)
    #Then find standard deviation
    stds=X.std(axis=0)
    #Getting scaled data
    X_norm =(X- means) / stds
    
    #mu=X_norm.mean(axis=0)
    #sigma=X_norm.std(axis=0)
        
    # ================================================================
    return X_norm

In [33]:
# call featureNormalize on the loaded data
X_norm= featureNormalize(X_train)

#print('Computed mean:', mu)
#print('Computed standard deviation:', sigma)

In [34]:
X_norm.describe()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
count,1.079900e+04,1.079900e+04,1.079900e+04,1.079900e+04,1.079900e+04,1.079900e+04,1.079900e+04,1.079900e+04,1.079900e+04,1.079900e+04,1.079900e+04,1.079900e+04,1.079900e+04,1.079900e+04,1.079900e+04,1.079900e+04,1.079900e+04,1.079900e+04,1.079900e+04,1.079900e+04
mean,1.834197e-16,-9.364184e-14,-1.136028e-17,4.521609e-16,-2.408405e-16,-2.158967e-18,-9.861338e-17,-7.372743e-16,8.974620e-16,-6.301099e-16,1.488145e-16,5.678083e-17,8.859989e-17,1.897465e-15,5.915004e-16,-1.258183e-13,-8.903126e-13,-6.684190e-14,-5.065348e-17,-3.655851e-17
std,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00
min,-1.603823e+00,-6.921474e-01,-3.537237e+00,-2.720140e+00,-1.870427e+00,-3.524517e-01,-8.506129e-01,-9.569313e-02,-3.156668e-01,-3.654034e+00,-3.909888e+00,-1.709804e+00,-6.726694e-01,-2.392979e+00,-2.161287e-01,-1.417840e+00,-2.837580e+00,-2.179373e+00,-2.324520e+00,-4.487283e-01
25%,-8.564156e-01,-6.921474e-01,-3.839745e-01,-7.417732e-01,-7.134565e-01,-2.371601e-01,-8.506129e-01,-9.569313e-02,-3.156668e-01,-6.754778e-01,-5.008994e-01,-7.049544e-01,-6.726694e-01,-6.452715e-01,-2.161287e-01,-8.468924e-01,-6.716761e-01,-8.040591e-01,-7.137936e-01,-2.830087e-01
50%,-2.305206e-01,-6.921474e-01,-3.839745e-01,-8.231746e-02,-1.683454e-01,-1.797020e-01,-8.506129e-01,-9.569313e-02,-3.156668e-01,-6.754778e-01,-5.008994e-01,-2.707603e-01,-6.726694e-01,6.807838e-02,-2.161287e-01,-2.391091e-01,9.404730e-02,-1.181974e-01,-2.118258e-01,-1.965150e-01
75%,9.493054e-01,1.444645e+00,6.671131e-01,5.771382e-01,4.991376e-01,-1.032591e-01,1.112578e+00,-9.569313e-02,-3.156668e-01,8.138004e-01,3.513478e-01,4.735725e-01,6.590497e-01,8.170958e-01,-2.161287e-01,7.370276e-01,8.558256e-01,6.287096e-01,5.411259e-01,-1.045345e-01
max,1.846191e+00,1.444645e+00,3.114865e+01,7.501423e+00,8.720303e+00,3.836355e+01,4.057364e+00,1.044910e+01,4.753308e+00,2.303079e+00,4.612584e+00,8.822505e+00,1.002547e+01,1.708783e+00,4.673735e+00,2.228859e+00,1.558785e+00,6.467511e+00,6.107063e+00,3.086768e+01

In [35]:
X_norm.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
8896,-0.841870,-0.692147,-0.383975,-0.741773,-0.746831,-0.259112,-0.850613,-0.095693,-0.315667,2.303079,-0.500899,-0.456843,-0.672669,-0.252929,-0.216129,-0.699551,0.188732,-0.247470,-0.566156,-0.153484
10984,-0.272834,-0.692147,-0.383975,-0.412045,-0.646708,-0.120977,-0.850613,-0.095693,-0.315667,-0.675478,-0.500899,-0.345194,-0.672669,0.781428,-0.216129,-0.865310,-1.012038,0.104438,-0.300408,-0.207201
12773,0.842734,1.444645,0.667113,0.577138,0.643759,0.299007,1.112578,-0.095693,-0.315667,-0.675478,0.351348,1.093850,-0.672669,1.031101,-0.216129,-0.460121,0.510084,1.777797,1.279314,0.460715
6008,-0.962745,-0.692147,-0.383975,-1.401229,-0.668958,-0.139833,1.112578,-0.095693,-0.315667,-0.675478,-0.500899,-0.370005,-0.672669,-0.609604,-0.216129,1.418482,1.319922,-0.793286,-0.699030,-0.168163
1394,0.370032,-0.692147,0.667113,0.577138,0.391228,-0.219899,1.112578,-0.095693,-0.315667,-0.675478,1.203595,0.812244,-0.672669,1.138103,-0.216129,-0.920563,1.261103,-0.132561,0.600181,-0.258723

In [36]:
# Add intercept term to X
X_norm.insert(0,"X0",1)
X_trn=X_norm.copy()

In [37]:
X_trn.head()

,X0,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
8896,1,-0.841870,-0.692147,-0.383975,-0.741773,-0.746831,-0.259112,-0.850613,-0.095693,-0.315667,...,-0.500899,-0.456843,-0.672669,-0.252929,-0.216129,-0.699551,0.188732,-0.247470,-0.566156,-0.153484
10984,1,-0.272834,-0.692147,-0.383975,-0.412045,-0.646708,-0.120977,-0.850613,-0.095693,-0.315667,...,-0.500899,-0.345194,-0.672669,0.781428,-0.216129,-0.865310,-1.012038,0.104438,-0.300408,-0.207201
12773,1,0.842734,1.444645,0.667113,0.577138,0.643759,0.299007,1.112578,-0.095693,-0.315667,...,0.351348,1.093850,-0.672669,1.031101,-0.216129,-0.460121,0.510084,1.777797,1.279314,0.460715
6008,1,-0.962745,-0.692147,-0.383975,-1.401229,-0.668958,-0.139833,1.112578,-0.095693,-0.315667,...,-0.500899,-0.370005,-0.672669,-0.609604,-0.216129,1.418482,1.319922,-0.793286,-0.699030,-0.168163
1394,1,0.370032,-0.692147,0.667113,0.577138,0.391228,-0.219899,1.112578,-0.095693,-0.315667,...,1.203595,0.812244,-0.672669,1.138103,-0.216129,-0.920563,1.261103,-0.132561,0.600181,-0.258723

In [38]:
def computeCostMulti(X, y, theta):
    """
    Compute cost for linear regression with multiple variables.
    Computes the cost of using theta as the parameter for linear regression to fit the data points in X and y.
    
    Parameters
    ----------
    X : array_like
        The dataset of shape (m x n+1).
    
    y : array_like
        A vector of shape (m, ) for the values at a given data point.
    
    theta : array_like
        The linear regression parameters. A vector of shape (n+1, )
    
    Returns
    -------
    J : float
        The value of the cost function. 
    
    Instructions
    ------------
    Compute the cost of a particular choice of theta. You should set J to the cost.
    """
    # Initialize some useful values
    m = y.shape[0] # number of training examples
    
    # You need to return the following variable correctly
    J = 0
    
    # ======================= YOUR CODE HERE ===========================
    J= (np.dot(((np.dot(X,theta)-y).T),(np.dot(X,theta)-y)))/2*m
    
    # ==================================================================
    return J

In [39]:
def gradientDescentMulti(X, y, theta, alpha, num_iters):
    """
    Performs gradient descent to learn theta.
    Updates theta by taking num_iters gradient steps with learning rate alpha.
        
    Parameters
    ----------
    X : array_like
        The dataset of shape (m x n+1).
    
    y : array_like
        A vector of shape (m, ) for the values at a given data point.
    
    theta : array_like
        The linear regression parameters. A vector of shape (n+1, )
    
    alpha : float
        The learning rate for gradient descent. 
    
    num_iters : int
        The number of iterations to run gradient descent. 
    
    Returns
    -------
    theta : array_like
        The learned linear regression parameters. A vector of shape (n+1, ).
    
    J_history : list
        A python list for the values of the cost function after each iteration.
    
    Instructions
    ------------
    Peform a single gradient step on the parameter vector theta.

    While debugging, it can be useful to print out the values of 
    the cost function (computeCost) and gradient here.
    """
    # Initialize some useful values
    m = y.shape[0] # number of training examples
    
    # make a copy of theta, which will be updated by gradient descent
    theta = theta.copy()
    
    J_history = []
    
    
    # ======================= YOUR CODE HERE ==========================
    for i in range(num_iters):
        theta = theta - (alpha/m)*(np.dot(X,theta.T)-y).dot(X)
        
        
        # =================================================================
        
        # save the cost J in every iteration
        J_history.append(computeCostMulti(X, y, theta))
    
    return theta, J_history

In [40]:
X_trn.head()

,X0,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
8896,1,-0.841870,-0.692147,-0.383975,-0.741773,-0.746831,-0.259112,-0.850613,-0.095693,-0.315667,...,-0.500899,-0.456843,-0.672669,-0.252929,-0.216129,-0.699551,0.188732,-0.247470,-0.566156,-0.153484
10984,1,-0.272834,-0.692147,-0.383975,-0.412045,-0.646708,-0.120977,-0.850613,-0.095693,-0.315667,...,-0.500899,-0.345194,-0.672669,0.781428,-0.216129,-0.865310,-1.012038,0.104438,-0.300408,-0.207201
12773,1,0.842734,1.444645,0.667113,0.577138,0.643759,0.299007,1.112578,-0.095693,-0.315667,...,0.351348,1.093850,-0.672669,1.031101,-0.216129,-0.460121,0.510084,1.777797,1.279314,0.460715
6008,1,-0.962745,-0.692147,-0.383975,-1.401229,-0.668958,-0.139833,1.112578,-0.095693,-0.315667,...,-0.500899,-0.370005,-0.672669,-0.609604,-0.216129,1.418482,1.319922,-0.793286,-0.699030,-0.168163
1394,1,0.370032,-0.692147,0.667113,0.577138,0.391228,-0.219899,1.112578,-0.095693,-0.315667,...,1.203595,0.812244,-0.672669,1.138103,-0.216129,-0.920563,1.261103,-0.132561,0.600181,-0.258723

In [41]:
#X_train.head()
X_cv=(X_cv-X_train.mean(axis=0))/(X_train.std(axis=0))
X_test=(X_test-X_train.mean(axis=0))/(X_train.std(axis=0))
X_cv.insert(0,"X0",1)
X_test.insert(0,"X0",1)
X_cv.head()
#X_deggg=X_trn.copy()
#z=(X_trn.iloc[:,1])**2
#X_deggg.insert(2,"X2",z)
#z2=(X_trn.iloc[:,1])**3
#X_deggg.insert(3,"X2",z2,allow_duplicates=True)
#X_deggg=X_trn.copy()
#X_trn.head()
#X_deggg.head()
#X_degg.head()
#X_trn.columns[1].dtypes
#print(X_trn.columns[1])
#pre_process=PolynomialFeatures(degree=1)
#X_degr=pre_process.fit_transform(X_deg)
#X_degr.shape
#z=pd.DataFrame(X_degr)
#z.head()

,X0,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
11436,1,-0.645694,-0.692147,-0.383975,1.896050,-0.635583,-0.339389,1.112578,-0.095693,-0.315667,...,-0.500899,-0.556088,-0.273154,1.423443,-0.216129,0.571269,-0.130469,-0.764559,-1.230525,-0.405230
15607,1,-0.235534,-0.692147,-0.383975,-0.412045,-0.780205,-0.191803,-0.850613,-0.095693,-0.315667,...,-1.353147,-0.494060,-0.672669,-1.964969,-0.216129,0.737028,-0.191440,-0.448560,-0.787612,-0.261421
10953,1,-0.857225,1.444645,-1.435062,-0.412045,-0.769080,-0.130124,-0.850613,-0.095693,-0.315667,...,-1.353147,-0.481655,-0.672669,-0.359932,4.610640,-1.086322,1.304141,1.677252,-0.802376,-0.117505
8821,1,-0.983288,-0.692147,-0.383975,0.577138,-0.602209,-0.121118,-0.850613,-0.095693,-0.315667,...,-0.500899,-0.891038,0.392706,0.317751,-0.216129,-0.018097,1.418193,1.038072,-0.713794,-0.117505
11566,1,1.749961,1.444645,-0.383975,-1.401229,-0.902577,-0.195931,-0.850613,-0.095693,-0.315667,...,-1.353147,-0.816604,-0.339740,-1.108949,-0.216129,-1.233664,1.458362,0.097257,0.172032,-0.170970

In [42]:
#X_deg=X_trn.copy()
#X_deg.drop('X0',inplace=True,axis=1)
#X_deg.head()
#pre_process=PolynomialFeatures(degree=1)
#X_degr=pre_process.fit_transform(X_deg)
#pr_model=LinearRegression()
#pr_model.fit(X_degr,y_train)
#theta=pr_model.coef_
#theta0=pr_model.intercept_
#theta[0]=theta0
#print(theta)
#print(theta.shape)
#print(theta0)
#X_degr.shape
#z=pd.DataFrame(X_degr)
#tt=z.iloc[0:4,21]
#tt.head()
#z.head()

In [43]:
def mintheta(degrees):
    check=np.inf
    J_cv=[]
    for i in range(1,degrees+1):
        col_fill=0
        X_degr=X_trn.copy()
        X_degr.drop('X0',inplace=True,axis=1)
        pre_process=PolynomialFeatures(degree=i)
        X_deg=pre_process.fit_transform(X_degr)
        #th=np.random.random(X_deg.shape[1])
        #print(X_deg.shape)
        pr_model=LinearRegression()
        pr_model.fit(X_deg,y_train)
        theta=pr_model.coef_
        theta0=pr_model.intercept_
        theta[0]=theta0
        #print(theta.shape)
        #theta,J_hist=gradientDescentMulti(X_deg, y_train, th, 0.01, 10000)
        X_c=X_cv.copy()
        col=0
        X_c.drop('X0',inplace=True,axis=1)
        pre_process=PolynomialFeatures(degree=i)
        X_cc=pre_process.fit_transform(X_c)
        X_c=pd.DataFrame(X_cc)
        #print(X_c.shape)
        #y_pred=pr_model.predict(X_cc)
        #cross=mean_squared_error(y,y_pred)
        cross=computeCostMulti(X_c, y_cv, theta)
        J_cv.append(cross)
        if cross<check:
            check=cross
            thetamin=theta
        
    order=(np.argmin(J_cv))+1 

    return thetamin, J_cv, order

In [44]:
#this is similar function to the one implemented above except for the fact that predefined linear regression is not used
#and exactly similar results are reached
def mintheta2(degrees):
    check=np.inf
    J_cv=[]
    #J_cv=np.zeros(degrees)
    for i in range(1,degrees+1):
        col_fill=0
        X_deg=X_trn.copy()
        if i>1:
            for j in range(1,X_trn.shape[1]):
                col_fill=col_fill+1
                for k in range(2,i+1):
                    z=(X_trn.iloc[:,j])**k
                    X_deg.insert(col_fill+1,"powers",z,allow_duplicates=True)
                    col_fill=col_fill+1
        else:
            X_deg=X_trn.copy() 
        th=np.random.random(X_deg.shape[1])
        theta,J_hist=gradientDescentMulti(X_deg, y_train, th, 0.001, 20000)
        X_c=X_cv.copy()
        col=0
        if i>1:
            for m in range(1,X_cv.shape[1]):
                col=col+1
                for n in range(2,i+1):
                    z2=(X_cv.iloc[:,m])**n
                    X_c.insert(col+1,print(X_cv.columns[m]+"^"+str(n)),z2,allow_duplicates=True)
                    col=col+1
        else:
            X_c=X_cv.copy()
        cross=computeCostMulti(X_c, y_cv, theta)
        J_cv.append(cross)
        if cross<check:
            check=cross
            thetamin=theta
        
    order=(np.argmin(J_cv))+1 

    return thetamin, J_cv, order

In [45]:
thetamin, J_cv, order =mintheta(3)
print('theta computed from gradient descent: {:s}'.format(str(thetamin)))
#print(th)
#X_t=X_test.copy()
#col=0
#if order>1:
    #for j in range(1,X_test.shape[1]):
        #col=col+1
        #for k in range(2,i+1):
            #z=(X_test.iloc[:,j])**k
            #X_t.insert(col+1,print(X_test.columns[j]+"^"+str(k)),z)
            #col=col+1
#else:
    #X_t=X_test.copy()

#J_test=computeCostMulti(X_t, y_test, thetamin)
#print(J_test)

theta computed from gradient descent: [ 5.33897116e+05 -2.26873577e+03  1.43736142e+04 -2.86341006e+04
  2.90151900e+04  7.52644763e+04  7.32428487e+03  2.87287701e+02
  5.08545284e+04  4.37655132e+04  2.06390239e+04  1.05084287e+05
  7.16695888e+04  2.19355722e+04 -7.89377925e+04  9.66350449e+03
 -2.97948804e+04  8.25140681e+04 -2.74295737e+04  3.12168969e+04
 -1.03584045e+04]

In [46]:
print(J_cv)

[2.5249098726844902e+17, 9.034898581408874e+27, 1.4751339968890291e+32]

In [47]:
print(order)

1

In [48]:
X_t=X_test.copy()
X_t.drop('X0',inplace=True,axis=1)
pre_process=PolynomialFeatures(degree=order)
X_tt=pre_process.fit_transform(X_t)
X_t=pd.DataFrame(X_tt)
test_error=computeCostMulti(X_t, y_test, thetamin)

In [49]:
print(test_error)

2.7878747625683152e+17

In [50]:
thetamin2, J_cv2, orders =mintheta2(2)
print('theta computed from gradient descent: {:s}'.format(str(thetamin2)))

id^2
date^2
bedrooms^2
bathrooms^2
sqft_living^2
sqft_lot^2
floors^2
waterfront^2
view^2
condition^2
grade^2
sqft_above^2
sqft_basement^2
yr_built^2
yr_renovated^2
zipcode^2
lat^2
long^2
sqft_living15^2
sqft_lot15^2
theta computed from gradient descent: X0               533897.114662
id                -2256.436171
date              14368.234234
bedrooms         -28624.944076
bathrooms         28899.740590
sqft_living       75277.840155
sqft_lot           7377.743904
floors              391.460437
waterfront        50859.507816
view              43740.695013
condition         20702.720429
grade            104604.671753
sqft_above        71662.802253
sqft_basement     21976.153548
yr_built         -78714.845497
yr_renovated       9736.690317
zipcode          -29772.430786
lat               82553.432948
long             -27565.281218
sqft_living15     31669.562297
sqft_lot15       -10393.270162
Name: price, dtype: float64

In [ ]:
#As we can see same thetas for minimum cross validation caost was obtained compared to LinearRegression function

In [51]:
#Use K-fold Sampling
from sklearn.model_selection import KFold
accuracy=[]
kf = KFold(n_splits=5,shuffle=False)
kf.split(X)  
for train_index, test_index in kf.split(X):
    # Split train-test
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    X_t=featureNormalize(X_train)
    X_t.insert(0,"X0",1)
    th=np.random.random(X_t.shape[1])
    theta,J_hist=gradientDescentMulti(X_t, y_train, th, 0.1, 5000)
    X_test=(X_test-X_train.mean(axis=0))/(X_train.std(axis=0))
    X_test.insert(0,"X0",1)
    err=computeCostMulti(X_test, y_test, theta)
    accuracy.append(err)
    
mean_err=np.mean(accuracy)
print(accuracy)
print(mean_err)

[2.646514535506029e+17, 2.7827492534805123e+17, 2.848272353295589e+17, 2.382423072681335e+17, 2.2673980871993926e+17]
2.5854714604325715e+17

In [52]:
#mean error has improved with the use K_fold sampling compared to the previous test error, with the use of linear hypothesis

In [53]:
X.shape

(17999, 20)

In [54]:
from sklearn.model_selection import StratifiedKFold
accuracy2=[]
skf = StratifiedKFold(n_splits=5)
for train_index, test_index in skf.split(X,y):
    # Split train-test
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y[train_index], y[test_index]
    X_t=featureNormalize(X_train)
    X_t.insert(0,"X0",1)
    th=np.random.random(X_t.shape[1])
    theta,J_hist=gradientDescentMulti(X_t, y_train, th, 0.1, 5000)
    X_test=(X_test-X_train.mean(axis=0))/(X_train.std(axis=0))
    X_test.insert(0,"X0",1)
    err=computeCostMulti(X_test, y_test, theta)
    accuracy2.append(err)
    
mean_err2=np.mean(accuracy2)
print(accuracy2)
print(mean_err2)

C:\Users\omaro\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:670: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(("The least populated class in y has only %d"

[2.2827528564692573e+17, 2.7075354064404643e+17, 2.3195932822701712e+17, 2.764650218273572e+17, 2.8214104083995904e+17]
2.5791884343706112e+17

In [55]:
#stratified sampling has even reduced average test error a bit more (compared to k-fold Sampling),again with hypothesis of degree 1

In [56]:
def costFunctionReg(theta, X, y, lambda_):
    """
    Compute cost and gradient for logistic regression with regularization.
    
    Parameters
    ----------
    theta : array_like
        Logistic regression parameters. A vector with shape (n, ). n is 
        the number of features including any intercept. If we have mapped
        our initial features into polynomial features, then n is the total 
        number of polynomial features. 
    
    X : array_like
        The data set with shape (m x n). m is the number of examples, and
        n is the number of features (after feature mapping).
    
    y : array_like
        The data labels. A vector with shape (m, ).
    
    lambda_ : float
        The regularization parameter. 
    
    Returns
    -------
    J : float
        The computed value for the regularized cost function. 
    
    grad : array_like
        A vector of shape (n, ) which is the gradient of the cost
        function with respect to theta, at the current values of theta.
    
    Instructions
    ------------
    Compute the cost `J` of a particular choice of theta.
    Compute the partial derivatives and set `grad` to the partial
    derivatives of the cost w.r.t. each parameter in theta.
    """
    # Initialize some useful values
    m = y.size  # number of training examples

    # You need to return the following variables correctly 
    J = 0
    grad = np.zeros(theta.shape)
    th=np.copy(theta)
    th[0]=0

    # ===================== YOUR CODE HERE ======================
    h=np.dot(X,theta)
    J=(1/2*m)*np.sum(np.square(h-y))+(lambda_/(2*m))*np.sum(np.square(th))
    #grad=(1/m)*np.dot(X.T,(h-y))+(lambda_/m)*th
    # =============================================================
    return J

In [57]:
def gradientDescentMultireg(X, y, theta, alpha, lambdas, num_iters):
    """
    Performs gradient descent to learn theta.
    Updates theta by taking num_iters gradient steps with learning rate alpha.
        
    Parameters
    ----------
    X : array_like
        The dataset of shape (m x n+1).
    
    y : array_like
        A vector of shape (m, ) for the values at a given data point.
    
    theta : array_like
        The linear regression parameters. A vector of shape (n+1, )
    
    alpha : float
        The learning rate for gradient descent. 
    
    num_iters : int
        The number of iterations to run gradient descent. 
    
    Returns
    -------
    theta : array_like
        The learned linear regression parameters. A vector of shape (n+1, ).
    
    J_history : list
        A python list for the values of the cost function after each iteration.
    
    Instructions
    ------------
    Peform a single gradient step on the parameter vector theta.

    While debugging, it can be useful to print out the values of 
    the cost function (computeCost) and gradient here.
    """
    # Initialize some useful values
    m = y.shape[0] # number of training examples
    
    # make a copy of theta, which will be updated by gradient descent
    th = theta.copy()
    th[0]=0
    J_history = []
    
    
    # ======================= YOUR CODE HERE ==========================
    for i in range(num_iters):
        #r=1-(alpha*lambdas/m)
        h=np.dot(X,theta)
        grad=(1/m)*np.dot(X.T,(h-y))+(lambdas/m)*th
        #e=(np.dot(X,theta.T)-y)
        theta = (theta) - (alpha)*(grad)
        #theta = r*(theta) - (alpha/m)*(np.dot((np.dot(X,theta)-y),(X.T)))
        
        
        # =================================================================
        
        # save the cost J in every iteration
        #J_history.append(computeCostMulti(X, y, theta))
    
    return theta

In [58]:
#train test split
x, X_test, ya, y_test = train_test_split(X,y,test_size=0.2,train_size=0.8,random_state=0)
X_train, X_cv, y_train, y_cv = train_test_split(x,ya,test_size = 0.25,train_size =0.75,random_state=0)
X_train.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
8896,2.174503e+09,2014,3.0,1.50,1380.0,4500.0,1.0,0.0,0.0,5.0,7.0,1380.0,0.0,1960.0,0.0,98040.0,47.5866,-122.250,1590.0,9000.0
10984,3.797700e+09,2014,3.0,1.75,1470.0,10390.0,1.0,0.0,0.0,3.0,7.0,1470.0,0.0,1989.0,0.0,98031.0,47.4192,-122.201,1770.0,7507.0
12773,6.979900e+09,2015,4.0,2.50,2630.0,28298.0,2.0,0.0,0.0,3.0,8.0,2630.0,0.0,1996.0,0.0,98053.0,47.6314,-121.968,2840.0,26071.0
6008,1.829700e+09,2014,3.0,1.00,1450.0,9586.0,2.0,0.0,0.0,3.0,7.0,1450.0,0.0,1950.0,0.0,98155.0,47.7443,-122.326,1500.0,8592.0
1394,5.631500e+09,2014,4.0,2.50,2403.0,6172.0,2.0,0.0,0.0,3.0,9.0,2403.0,0.0,1999.0,0.0,98028.0,47.7361,-122.234,2380.0,6075.0

In [59]:
from scipy import optimize
X_cv=(X_cv-X_train.mean(axis=0))/(X_train.std(axis=0))
X_test=(X_test-X_train.mean(axis=0))/(X_train.std(axis=0))
X_cv.insert(0,"X0",1)
X_test.insert(0,"X0",1)
X_cv.head()

,X0,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
11436,1,-0.645694,-0.692147,-0.383975,1.896050,-0.635583,-0.339389,1.112578,-0.095693,-0.315667,...,-0.500899,-0.556088,-0.273154,1.423443,-0.216129,0.571269,-0.130469,-0.764559,-1.230525,-0.405230
15607,1,-0.235534,-0.692147,-0.383975,-0.412045,-0.780205,-0.191803,-0.850613,-0.095693,-0.315667,...,-1.353147,-0.494060,-0.672669,-1.964969,-0.216129,0.737028,-0.191440,-0.448560,-0.787612,-0.261421
10953,1,-0.857225,1.444645,-1.435062,-0.412045,-0.769080,-0.130124,-0.850613,-0.095693,-0.315667,...,-1.353147,-0.481655,-0.672669,-0.359932,4.610640,-1.086322,1.304141,1.677252,-0.802376,-0.117505
8821,1,-0.983288,-0.692147,-0.383975,0.577138,-0.602209,-0.121118,-0.850613,-0.095693,-0.315667,...,-0.500899,-0.891038,0.392706,0.317751,-0.216129,-0.018097,1.418193,1.038072,-0.713794,-0.117505
11566,1,1.749961,1.444645,-0.383975,-1.401229,-0.902577,-0.195931,-0.850613,-0.095693,-0.315667,...,-1.353147,-0.816604,-0.339740,-1.108949,-0.216129,-1.233664,1.458362,0.097257,0.172032,-0.170970

In [60]:
def minthetareg(degrees):
    check=np.inf
    J_cv=[]
    lambdas=np.array([0.01,0.02,0.04,0.08,0.16,0.32])
    for i in range(lambdas.size):
        for j in range(1,degrees+1):
            X_degr=X_trn.copy()
            X_degr.drop('X0',inplace=True,axis=1)
            pre_process=PolynomialFeatures(degree=j)
            X_deg=pre_process.fit_transform(X_degr)
            X_deg=pd.DataFrame(X_deg)
            th=np.random.random(X_deg.shape[1])
            #options= {'maxiter': 100}
            #res = optimize.minimize(costFunctionReg,
                                    #th,
                                    #(X_deg, y_train, lambdas[i]),
                                    #jac=True,
                                    #method='TNC',
                                    #options=options)
            theta=gradientDescentMultireg(X_deg, y_train, th, 0.001, lambdas[i], 20000)
            #theta = res.x
            X_c=X_cv.copy()
            X_c.drop('X0',inplace=True,axis=1)
            pre_process=PolynomialFeatures(degree=j)
            X_cc=pre_process.fit_transform(X_c)
            X_c=pd.DataFrame(X_cc)
            cross=computeCostMulti(X_c, y_cv, theta)
            J_cv.append(cross)
            if cross<check:
                check=cross
                thetamin=theta
                lambdamin=lambdas[i]
                degmin=j
    return thetamin, J_cv, lambdamin, degmin

In [61]:
thetamin, J_cv, lambdamin, degmin=minthetareg(2)
print(thetamin)
print(J_cv)
print(lambdamin)
print(degmin)

[ 2.67820003e+05 -5.45793633e+02 -1.18694094e+05 -5.65312549e+02
  1.53752506e+04  4.51823842e+04  2.77181862e+03 -1.58768920e+04
 -2.51251955e+04 -1.32910396e+04  2.54284816e+04  8.68249651e+04
  4.32174126e+04  1.28234620e+04 -1.82440036e+04 -5.74724772e+04
 -5.68359386e+04  7.94073995e+04 -6.09469785e+04  5.04413863e+04
 -8.65881046e+03  5.18991136e+03  1.85762108e+03 -2.02729967e+03
  8.47849478e+03  5.84710458e+03 -9.02816559e+03 -2.17926531e+03
 -5.14306402e+03 -6.99645066e+01  1.74794043e+02 -1.61925214e+04
  6.99413732e+03 -8.46808042e+02  1.73837864e+03  1.54718723e+03
  2.39975553e+02  2.80348725e+03  1.32945075e+03 -2.39273820e+03
  4.18557254e+03  1.78477477e+05 -5.77948290e+03  3.20026958e+03
  1.63471526e+03  1.45091128e+03 -1.75277996e+03 -3.16552007e+03
  1.91522352e+02  8.64226298e+02  6.39212407e+03  1.58656754e+03
  4.21191215e+02 -7.30079485e+03 -2.54181755e+03  1.22024662e+02
  3.33448645e+03  2.04029652e+03  1.28426818e+03 -3.58909714e+03
  4.82083074e+02 -6.03942304e+03 -8.68765684e+03 -2.27775499e+03
  1.09591502e+04 -3.45882737e+03 -2.59431216e+03 -2.66095903e+03
  8.14786263e+03 -8.82695656e+03 -1.53879658e+03 -2.19033881e+03
  1.30019807e+03  1.30032102e+03 -3.12832853e+03  8.04477017e+03
  9.93891528e+02  3.92825724e+02  2.84769750e+03  8.16250304e+03
 -1.16053916e+04 -1.60267326e+04 -5.52687351e+02  5.41188468e+03
 -8.43711232e+03  7.79640654e+03  1.05438148e+04 -2.57836559e+03
  2.00663950e+03 -6.47451440e+03  2.58554462e+03  4.15216441e+02
 -5.74095512e+03  3.11871257e+03  3.85363527e+03  6.32525210e+03
  1.48622624e+03  8.35508095e+02  7.39177085e+03  1.19017285e+02
  6.41947016e+03  7.33213859e+03  5.07022735e+03  3.54849009e+03
  3.98997132e+03  1.21533475e+03 -1.87965196e+04  1.36470373e+04
 -2.03364071e+04 -3.77605694e+03  1.46221245e+03 -8.84570337e+02
 -1.67274780e+03  8.80885877e+03  1.50297421e+03 -5.05832973e+03
  5.76762177e+03  2.19565769e+02  2.57194318e+03  4.43946825e+03
 -6.43784066e+03  5.47478700e+03 -3.57409119e+03  7.22428562e+03
  5.24476348e+03  2.03190980e+03  1.21743832e+04 -6.93218053e+03
 -8.66442419e+03  4.48918139e+03 -1.99622765e+03 -2.06235009e+03
  5.35731241e+03 -3.49073222e+03  3.32174363e+03  1.83933697e+04
 -8.38320594e+03  1.31660925e+04  5.14405191e+03  1.97718174e+03
  7.65704491e+03 -1.21334269e+03 -2.10353653e+03 -1.17822225e+04
  8.92345059e+03 -1.21881634e+03  6.53325552e+03  4.30150493e+00
  1.30577070e+03  2.30156976e+04  1.60024846e+04  4.00367064e+03
  7.19051954e+03  1.06331795e+04  3.39334616e+03  5.30161599e+03
  3.21323891e+03 -5.51083552e+03  4.89269852e+03 -2.75634018e+03
 -5.57648930e+03 -3.57398282e+03 -8.22057246e+03  2.95967226e+03
 -6.51071325e+03  1.64140562e+03 -4.13042134e+03  6.17634601e+03
  1.75794642e+03 -3.09094302e+03 -6.88675461e+03 -6.32168190e+02
 -3.33969120e+03 -2.62844106e+03  1.91639828e+04 -2.15500171e+03
  7.77137992e+03  7.05538161e+03  2.00546729e+03 -1.87260087e+04
  5.47679390e+03 -6.95617353e+03  2.12608791e+04 -1.01460417e+04
 -8.01733663e+03 -1.10188667e+04  1.02776209e+03  8.27709078e+03
  6.13067101e+03 -4.34817586e+02 -2.46600094e+04  1.43915932e+04
 -2.13256123e+04 -5.45722206e+03  3.15055424e+03 -7.72740304e+03
 -3.00859824e+03  3.20242701e+03  6.61829441e+03  1.48050236e+03
 -2.42092482e+03  2.23124309e+03 -2.72006223e+03  2.94683600e+04
  1.06430917e+04  1.54000750e+04 -1.83976574e+04  2.05685962e+04
 -3.58554305e+04  8.33636384e+03  1.90853070e+04 -6.35700040e+03
 -2.77429836e+03  1.50580602e+02  7.24022311e+03  1.64458710e+03
  9.29061608e+03 -1.77539458e+03 -2.25444197e+03  1.29358560e+03
  1.94679452e+03 -4.55580838e+04 -2.46583484e+04  9.21576698e+03
 -1.12981147e+04  4.83061228e+03 -7.37590914e+02  3.73262143e+03
  1.79239610e+04 -1.03444425e+04 -8.70491179e+02]
[2.525228435117894e+17, 1.75398560268834e+17, 2.5252284392694342e+17, 1.7539852632424544e+17, 2.5252284340786566e+17, 1.753985104603623e+17, 2.5252284326987504e+17, 1.7539857698071603e+17, 2.5252284400255363e+17, 1.753985438950331e+17, 2.525228442183726e+17, 1.7539856079237974e+17]
0.04
2

In [62]:
#X_deg=X_trn.copy()
#theta=gradientDescentMultireg(X_deg, y_train, th, 0.1, 0, 500)
#print(theta)

In [63]:
X_t=X_test.copy()
X_t.drop('X0',inplace=True,axis=1)
pre_process=PolynomialFeatures(degree=degmin)
X_tt=pre_process.fit_transform(X_t)
X_t=pd.DataFrame(X_tt)
test_error=costFunctionReg(thetamin, X_t, y_test, lambdamin)

In [64]:
print(test_error)

1.4643704081597123e+17